html,
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.titlearea {
  color: white;
  margin-bottom: 50px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-image: url("src/assets/space-background.jpg");
  background-size: 2000px 550px;
  background-repeat: no-repeat;
}

.website-title {
  text-align: start;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 5em;
  margin: 10px 50px 10px 50px;
}

.website-subtitle {
  font-size: 1em;
  font-family: "Geist Pixel", sans-serif;
  text-align: start;
  margin: 10px 50px 50px 50px;
}

footer {
  background-color: rgb(44, 44, 44);
  border-top: 1px solid rgba(255, 255, 255, 0.86);
  margin-top: 80px;
  font-family: "Roboto Mono", monospace;
}

.footer-main-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px
}

.footer-brand {
  display: flex;
  grid-area: 1 / 1 / 2 / 9;
  font-size: 32px;
  text-align: center;
  justify-content: center;
}

.footer-icon {
  width: 70px;
  height: 70px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 1 / 4 / 5;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.footer-contacts h4 {
  font-size: 20px;
  margin: 0;
  text-decoration: underline;
}

.footer-contact-link {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.footer-contact-link-icon {
  margin-top: 1px;
  flex-shrink: 0;
}

.footer-contact-link-name {
  font-size: 13px;
  line-height: 1.5;
}

.footer-feedback {
  display: flex;
  flex-direction: column;
  grid-area: 2 / 5 / 4 / 9;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer-feedback h4 {
  font-size: 20px;
  margin: 0;
  text-decoration: underline;
}

.footer-feedback-form {
  display: flex;
  flex-direction: columnn;
  gap: 8px;
}

.footer-feedback-form-cards {
  border: 5px solid black;
  border-radius: 10px;
  color: black;
  font-size: 13px;
  outline: none;
  padding: 0px;
}

.footer-feedback-form-submit {
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 13px;
  font-weight: 700;
  cursor: pointer;
  padding: 50px;
}

@keyframes introduction-shift {
  from {
    left: 200px;
  }

  to {
    left: 0px;
  }
}

@keyframes photo-shift {
  from {
    right: 200px;
  }

  to {
    right: 0px;
  }
}

.story {
  display: flex;
  gap: 40px;
  margin-left: 50px;
  flex-direction: row;
}

.person-description {
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  position: relative;
  animation-name: introduction-shift;
  animation-duration: 2s;
  font-size: 20px;
  left: 0px;
}

.person-photo {
  position: relative;
  animation-name: photo-shift;
  animation-duration: 2s;
  right: 0px;
}