@media (max-width: 1000px) {
  .toggle-dark,
  .toggle-light {
    top: 10px;
    right: 0;
    left: 10px;
  }
}

.toggle-dark,
.toggle-light {
  display: flex;
  padding: 3px;
  border-radius: 4px;
  position: fixed;
  width: 8.7708vw;
  height: auto;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  z-index: 45;
}

.toggle-dark {
  background-color: rgb(50, 50, 50);
}

.toggle-light {
  background-color: rgb(250, 250, 250);
}

.dark-mode,
.light-mode {
  margin: 3px;
  padding: 3px;
  cursor: pointer;
  border-radius: 4px;
  width: 2.6042vw;
  text-align: center;
  font-size: 1.0417vw;
}

.dark-mode {
  background-color: #323232;
  color: #fafafa;
}

.light-mode {
  background-color: #fafafa;
  color: #323232;
}