@media (max-width: 850px) {

  .toggle-dark,
  .toggle-light {
    right: unset !important;
    top: 10px !important;
    left: 10px;
    flex-direction: column;
  }

  .dark-mode,
  .light-mode {
    font-size: 3vw m !important;
  }
}

.toggle-dark,
.toggle-light {
  display: flex;
  padding: 3px;
  border-radius: 4px;
  position: fixed;
  height: auto;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  z-index: 45;
  width: auto;
}

.toggle-dark {
  background-color: var(--primary-colour);
}

.toggle-light {
  background-color: var(--primary-colour);
}

.dark-mode,
.light-mode {
  margin: 3px;
  padding: 3px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
}

.dark-mode {
  background-color: var(--primary-colour);
  color: var(--text-colour);
}

.light-mode {
  background-color: var(--text-colour);
  color: var(--primary-colour);
}