footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--text-colour);
  list-style: none;
  width: 100%;
  border-top: 1px solid var(--text-colour);
  font-size: 15px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.footer-col {
  list-style: none;
}

.contact-link {
  display: flex;
  flex-direction: row;
  color: var(--link-colour);
  text-decoration: none;
}

.contact-link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0;
}

.contact-link:visited {
  color: var(--link-visited-colour);
  font-weight: bolder;
}

.contact-link-name {
  line-height: 1.5;
}

.contact-link-icon {
  margin-top: 1px;
  flex-shrink: 0;
}