@media (max-width: 820px) {
  .top-menu {
    display: none !important;
  }
  
  .hamburger-menu {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0 0 0 0;
  }

  .hamburger-nav-links {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 0;
    margin: 0 0 30px 0;
  }

  .hamburger-nav-links a {
    text-decoration: none;
    color: var(--text-colour);
    font-size: 20px;
    font-weight: 900;
    display: inline-block;
    transform: scale(1);
    transition: transform 0.25s ease-in;
  }

  .hamburger-nav-links a:hover {
    transform: scale(1.2);
  }

  .hamburger-icon {
    display: block !important;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

/* @media (max-width: 1536px) {
  .top-menu {
    max-width: 1700px !important;
  }
} */

@keyframes door-opening {
  from {
    width: 100%;
    left: 0;
  }

  to {
    width: 0%;
    left: 100%;
  }
}

@keyframes hover-selection {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.top {
  anchor-name: --navbar-container;
  margin: 0;
  background-image: var(--navbar-background-image);
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid var(--border-colour);
  box-sizing: border-box;
}

.top-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1700px;
  margin: 0 auto;
}

.website-title {
  color: var(--text-colour);
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  overflow: hidden;
  padding: 0;
  gap: 30px;
}

.nav-links a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  color: var(--text-colour);
  font-family: fantasy;
  font-weight: 700;
}

.nav-links a:hover {
  animation: 0.25s ease-in 0s 1 hover-selection;
  animation-fill-mode: forwards;
}

.hamburger-menu,
.hamburger-icon {
  display: none;
}