:root {
  --title_delay: 0.25s;
  --title_duration: 2s;
  --subtitle_delay: 0.15s;
  --subtitle_duration: 1.5s;
  --delay: 1.2s;
  --duration: 1.5s;
  --max_width: 0;
  --max_height: 0;
}

html,
body {
  background-color: var(--primary-colour);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

.dark {
  --navbar-background-image: url("src/assets/space-background.jpg");
  --primary-colour: #000000;
  --secondary-colour: #04052E;
  --text-colour: #FFFFFF;
  --border-colour: #FFFFFF;
  --indicator-colour: #FFFFFF;
  --indicator-inactive-colour: #474747;
  --link-colour: #5930CA;
  --link-visited-colour: #2f06b4;
  --shadow-colour: #ffffffb0;
}

.light {
  --navbar-background-image: url("src/assets/sky-background.jpg");
  --primary-colour: #EDF2FB;
  --secondary-colour: #E2EAFC;
  --text-colour: #000000;
  --border-colour: #ABC4FF;
  --indicator-colour: #072d85;
  --indicator-inactive-colour: #ABC4FF;
  --link-colour: #5184fc;
  --link-visited-colour: #2667fd;
  --shadow-colour: #000000b0;
}

@media (prefers-color-scheme: light) {
  :root {
    --navbar-background-image: url("src/assets/sky-background.jpg");
    --primary-colour: #EDF2FB;
    --secondary-colour: #E2EAFC;
    --text-colour: #000000;
    --border-colour: #ABC4FF;
    --indicator-colour: #072d85;
    --indicator-inactive-colour: #ABC4FF;
    --link-colour: #5184fc;
    --link-visited-colour: #2667fd;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --navbar-background-image: url("src/assets/space-background.jpg");
    --primary-colour: #000000;
    --secondary-colour: #04052E;
    --text-colour: #FFFFFF;
    --border-colour: #FFFFFF;
    --indicator-colour: #FFFFFF;
    --indicator-inactive-colour: #474747;
    --link-colour: #5930CA;
    --link-visited-colour: #2f06b4;
  }
}

@media (max-width: 1000px) {
  .image-with-text {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image-with-text-reverse {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-in-center {
    flex-direction: column !important;
  }

  .about-me-photo img {
    align-items: center;
    justify-content: center;
  }

  .introduction-photo img {
    align-items: center;
    justify-content: center;
  }

  .introduction-header {
    text-align: center !important;
    text-align-last: center !important;
  }

  .introduction-description {
    text-align: center !important;
    text-align-last: center !important;
  }

  .about-me-header {
    text-align: center !important;
    text-align-last: center !important;
  }

  .about-me-description {
    text-align: center !important;
    text-align-last: center !important;
  }

  .education-header {
    text-align: center !important;
    text-align-last: center !important;
  }

  .education-content {
    text-align: center !important;
    text-align-last: center !important;
  }

  .contacts-header {
    text-align: center !important;
    text-align-last: center !important;
  }

  .contact-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }

  .contact-link {
    display: flex !important;
    flex-direction: column !important;
  }
}

@keyframes content-shift-left {
  from {
    left: 200px;
  }

  to {
    left: 0px;
  }
}

@keyframes content-shift-right {
  from {
    right: 200px;
  }

  to {
    right: 0px;
  }
}

@keyframes content-rise-below {
  from {
    top: 200px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0px 150px 0px;
}

#about-me img {
  width: 100%;
}

.description {
  color: var(--text-colour);
  position: relative;
  text-align: left;
  text-align-last: left;
  animation-name: content-shift-left;
  animation-duration: 2s;
  font-size: 18px;
}