:root {
  --title_delay: 0.25s;
  --title_duration: 2s;
  --subtitle_delay: 0.15s;
  --subtitle_duration: 1.5s;
  --delay: 1.2s;
  --duration: 1.5s;
  --max_width: 0;
  --max_height: 0;
}

html,
body {
  background-color: var(--primary-colour);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

.dark {
  --navbar-background-image: url("src/assets/space-background.jpg");
  --primary-colour: #000000;
  --secondary-colour: #04052E;
  --text-colour: #FFFFFF;
  --border-colour: #FFFFFF;
  --indicator-colour: #FFFFFF;
  --indicator-inactive-colour: #474747;
  --link-colour: #5930CA;
  --link-visited-colour: #2f06b4;
}

.light {
  --navbar-background-image: url("src/assets/sky-background.jpg");
  --primary-colour: #EDF2FB;
  --secondary-colour: #E2EAFC;
  --text-colour: #000000;
  --border-colour: #ABC4FF;
  --indicator-colour: #072d85;
  --indicator-inactive-colour: #ABC4FF;
  --link-colour: #5184fc;
  --link-visited-colour: #2667fd;
}

@media (prefers-color-scheme: light) {
  :root {
    --navbar-background-image: url("src/assets/sky-background.jpg");
    --primary-colour: #EDF2FB;
    --secondary-colour: #E2EAFC;
    --text-colour: #000000;
    --border-colour: #ABC4FF;
    --indicator-colour: #072d85;
    --indicator-inactive-colour: #ABC4FF;
    --link-colour: #5184fc;
    --link-visited-colour: #2667fd;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --navbar-background-image: url("src/assets/space-background.jpg");
    --primary-colour: #000000;
    --secondary-colour: #04052E;
    --text-colour: #FFFFFF;
    --border-colour: #FFFFFF;
    --indicator-colour: #FFFFFF;
    --indicator-inactive-colour: #474747;
    --link-colour: #5930CA;
    --link-visited-colour: #2f06b4;
  }
}

@media (max-width: 1000px) {
  .main-content {
    flex-direction: column;
  }

  .image-with-text {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image-with-text-reverse {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-in-center {
    flex-direction: column !important;
  }

  .about-me-photo img {
    align-items: center;
    justify-content: center;
  }

  .introduction-photo img {
    align-items: center;
    justify-content: center;
  }

  .introduction-header {
    text-align: center !important;
    text-align-last: center !important;
  }

  .introduction-description {
    text-align: center !important;
    text-align-last: center !important;
  }

  .about-me-header {
    text-align: center !important;
    text-align-last: center !important;
  }

  .about-me-description {
    text-align: center !important;
    text-align-last: center !important;
  }

  .education-header {
    text-align: center !important;
    text-align-last: center !important;
  }

  .education-content {
    text-align: center !important;
    text-align-last: center !important;
  }

  .contacts-header {
    text-align: center !important;
    text-align-last: center !important;
  }

  .contact-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }

  .contact-link {
    display: flex !important;
    flex-direction: column !important;
  }
}

@keyframes content-shift-left {
  from {
    left: 200px;
  }

  to {
    left: 0px;
  }
}

@keyframes content-shift-right {
  from {
    right: 200px;
  }

  to {
    right: 0px;
  }
}

@keyframes content-rise-below {
  from {
    top: 200px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.image-with-text {
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding: 5px;
}

.introduction-content {
  color: var(--text-colour);
  flex-wrap: wrap;
  flex-shrink: 20;
}

.introduction-description {
  position: relative;
  text-align: left;
  text-align-last: left;
  animation-name: content-shift-left;
  animation-duration: 2s;
  font-size: 25px;
}

.introduction-photo {
  position: relative;
  animation-name: content-shift-right;
  animation-duration: 2s;
}

.introduction-photo img {
  width: 100%;
  height: auto;
}

.introduction-header {
  text-transform: uppercase;
  position: relative;
  text-align: left;
  text-align-last: left;
  height: 10%;
  padding: 0px;
  animation-name: content-shift-left;
  animation-duration: 1.75s;
}

.image-with-text-reverse {
  display: flex;
  gap: 40px;
  flex-direction: row-reverse;
  padding: 5px;
}

.text-in-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.about-me-content {
  color: var(--text-colour);
  flex-wrap: wrap;
  flex-shrink: 20;
}

.about-me-header {
  position: relative;
  text-align: right;
  text-align-last: right;
  height: 10%;
  padding: 0px;
  animation-name: content-shift-right;
  animation-duration: 1.75s;
  text-transform: uppercase;
}

.about-me-description {
  position: relative;
  text-align: right;
  text-align-last: right;
  font-size: 25px;
  animation-name: content-shift-right;
  animation-duration: 2s;
}

.about-me-photo {
  position: relative;
  animation-name: content-shift-left;
  animation-duration: 2s;
}

.about-me-photo img {
  width: 100%;
  height: auto;
}

.projects-content {
  color: var(--text-colour);
}

.projects-header {
  position: relative;
  top: 0px;
  height: 10%;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  animation-name: content-rise-below;
  animation-duration: 3.0s;
}

.education-content {
  color: var(--text-colour);
}

.education-header {
  text-align: left;
  text-transform: uppercase;
}

.achievements-content {
  color: var(--text-colour);
}

.contacts-header {
  text-align: center;
  text-transform: uppercase;
}

.contacts-content {
  color: var(--text-colour);
}

.contacts-description {
  font-size: 20px;
}

.contact-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 15px;
  gap: 40px;
}

.contact-link {
  display: flex;
  flex-direction: row;
  color: var(--link-colour);
  text-decoration: none;
}

.contact-link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0;
}

.contact-link:visited {
  color: var(--link-visited-colour);
  font-weight: bolder;
}


.contact-link-name {
  line-height: 1.5;
}

.contact-link-icon {
  margin-top: 1px;
  flex-shrink: 0;
}