html,
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

.black-square {
  position: absolute;
  width: 0%;
  height: 200px;
  min-width: 0;
  min-height: 0;
  background: black;
  animation-name: door-opening-animation;
  animation-duration: 2.5s;
}

@keyframes door-opening-animation {
  from {
    width: 100%;
    left: 0%;
  }

  to {
    width: 0%;
    left: 100%;
  }
}

.titlearea {
  color: white;
  margin-bottom: 50px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-image: url("src/assets/space-background.jpg");
  background-size: 2000px 550px;
  background-repeat: no-repeat;
}

.site-header {
  display: flex;
  height: 64px;
  gap: 100px;
  background: #f5f5f5
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-text {
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.nav-links {
  display: flex;
  padding: 20px 60px;
  margin: 0 auto;
  justify-content: center;
  flex-grow: 2;
  gap: 50px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.website-title {
  text-align: start;
  font-family: "Frijole", system-ui;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 5em;
  margin: 10px 50px 10px 50px;
}

.website-subtitle {
  font-size: 1em;
  font-family: "Geist Pixel", sans-serif;
  text-align: start;
  line-height: 0.5em;
  margin: 10px 50px 50px 50px;
}

@keyframes content-shift-left {
  from {
    left: 200px;
  }

  to {
    left: 0px;
  }
}

@keyframes content-shift-right {
  from {
    right: 200px;
  }

  to {
    right: 0px;
  }
}

@keyframes content-rise-below {
  from {
    top: 200px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

.main-content {
  display: flex;
  gap: 40px;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction: column;
}

.image-with-text {
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding: 5px;
}

.introduction-content {
  color: white;
  flex-wrap: wrap;
  flex-shrink: 20;
}

.introduction-description {
  position: relative;
  text-align: left;
  text-align-last: left;
  animation-name: content-shift-left;
  animation-duration: 2s;
  font-size: 25px;
}

.introduction-photo {
  position: relative;
  animation-name: content-shift-right;
  animation-duration: 2s;
}

.introduction-header {
  text-transform: uppercase;
  position: relative;
  text-align: left;
  text-align-last: left;
  height: 10%;
  padding: 0px;
  animation-name: content-shift-left;
  animation-duration: 1.75s;
}

.image-with-text-reverse {
  display: flex;
  gap: 40px;
  flex-direction: row-reverse;
  padding: 5px;
}

.about-me-content {
  color: white;
  flex-wrap: wrap;
  flex-shrink: 20;
}

.about-me-header {
  position: relative;
  text-align: right;
  text-align-last: right;
  height: 10%;
  padding: 0px;
  animation-name: content-shift-right;
  animation-duration: 1.75s;
  text-transform: uppercase;
}

.about-me-description {
  position: relative;
  text-align: right;
  text-align-last: right;
  font-size: 25px;
  animation-name: content-shift-right;
  animation-duration: 2s;
}

.about-me-photo {
  position: relative;
  animation-name: content-shift-left;
  animation-duration: 2s;
}

.projects-header {
  position: relative;
  top: 0px;
  height: 10%;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  animation-name: content-rise-below;
  animation-duration: 3.0s;
}