@media (max-width: 100px) {
  .project-title {
    font-size: 1.5rem !important;
  }

  .project-subheading {
    font-size: 1rem !important;
  }

  .project-grid-format {
    grid-template: 'header' 'content' !important;
  }
}

.project-grid-format {
  display: grid;
  grid-template: 'left header right' 'left content right';
  grid-template-columns: 0.5fr 1fr 0.5fr;
  row-gap: 4rem;
}

.project-header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  justify-content: space-between;
  align-items: last baseline;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--border-colour);
}

.project-name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 100%;
  width: 80%;
}

.project-name .project-title {
  display: flex;
  font-size: 2.5em;
  color: var(--text-colour);
  text-transform: uppercase;
  border: none;
  margin: 0;
  justify-content: left;
}

.project-name .project-subheading {
  display: flex;
  font-size: 1.5em;
  margin: 0;
  justify-content: left;
}

.project-content {
  grid-area: content;
}

.project-content img {
  width: 100%;
}

.project-content h2 {
  font-size: 1.6rem;
}

.project-content h3 {
  font-size: 1rem;
}

.project-left {
  grid-area: left;
}

.project-right {
  grid-area: right;
}