@media (max-width: 1032px) {
  .project-title {
    font-size: 1.5rem !important;
  }

  .project-subheading {
    font-size: 1rem !important;
  }

  .project-grid-format {
    grid-template: 'header header header' 'content content content' !important;
    row-gap: 10rem !important;
  }
}

@media (max-width: 700px) {
  .project-grid-format {
    row-gap: 20rem !important;
  }
}

@media (max-width: 450px) {
  .project-grid-format {
    row-gap: 21rem !important;
  }
}

.project-header-image {
  width: 100%;
  height: auto;
  background-color: black;
  background-size: cover;
  outline: none;
  margin-top: 0;
  opacity: 0.5;
  mask-image: linear-gradient(black 50%, transparent 100%);
}

.project-grid-format {
  display: grid;
  grid-template: 'header header header' 'left content right' 'left content right';
  grid-template-columns: 0.2fr 1fr 0.2fr;
  row-gap: 2rem;
}

.project-header {
  display: flex;
  position: relative;
  flex-direction: row;
  grid-area: header;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 0;
}

.project-name {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100%;
  gap: 0.5em;
  width: 80%;
}

.project-title {
  font-size: 3.5em;
  color: var(--text-colour);
  text-transform: uppercase;
  border: none;
  margin: 0;
}

.project-subheading {
  display: flex;
  font-size: 1.5em;
  margin: 0;
  justify-content: center;
}

.project-content {
  position: relative;
  grid-area: content;
  padding-left: 2rem;
  padding-right: 2rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-content img {
  width: 100%;
}

.project-content h2 {
  font-size: 1.6rem;
}

.project-content h3 {
  font-size: 1rem;
}

.project-left {
  grid-area: left;
}

.project-right {
  grid-area: right;
}