@media (max-width: 1400px) {
  .slide-left {
    display: none;
  }

  .slide-right {
    display: none;
  }

  .arrow {
    display: none;
  }
}

@media (max-width: 1600px) {
  .slide-right {
    opacity: 0.5;
    right: 30% !important;
  }

  .slide-left {
    opacity: 0.5;
    left: 30% !important;
  }

  .slide-left2 {
    display: none;
  }

  .slide-right2 {
    display: none;
  }
}

.slide-carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 2000px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.slide-carousel div {
  position: absolute;
  transition: right 0.5s linear, left 0.5s linear;
}

.slide-active {
  z-index: 3;
  opacity: 1;
  pointer-events: auto;
}

.slide-hidden {
  opacity: 0;
  z-index: 0;
  visibility: hidden;
  pointer-events: none;
}

.slide-left {
  z-index: 2;
  left: 35%;
  opacity: 0.9;
  pointer-events: none;
}

.slide-left2 {
  z-index: 1;
  left: 25%;
  opacity: 0.5;
  pointer-events: none;
}

.slide-right {
  z-index: 2;
  right: 35%;
  opacity: 0.9;
  pointer-events: none;
}

.slide-right2 {
  z-index: 1;
  right: 25%;
  opacity: 0.5;
  pointer-events: none;
}

.slide-container-active {
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
}

.slide-container-hidden {
  display: none;
  transition: all 0.5s ease-in;
}

.slide-title {
  text-align: center;
  color: var(--text-colour);
}

.slide-description {
  text-align: center;
  color: var(--text-colour);
  overflow: scroll;
  max-height: 150px;
}

.slide-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.arrow {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  filter: drop-shadow(0px 2px 5px var(--shadow-colour));
  z-index: 4;
  cursor: pointer;
}

.arrow-left {
  left: 20em;
}

.arrow-right {
  right: 20em;
}

.indicators {
  display: flex;
  position: absolute;
  top: 3.5rem;
  z-index: 4;
}

.indicator {
  background-color: var(--indicator-colour);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px white;
  margin: 0 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator-inactive {
  background-color: var(--indicator-inactive-colour);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 0 0.2rem;
  cursor: pointer;
}