@media (max-width: 1032px) {
  .project-title {
    font-size: 1.5rem !important;
  }

  .project-subheading {
    font-size: 1rem !important;
  }

  .project-grid-format {
    grid-template-columns: 1fr !important;
    grid-template-areas: 'header' 'content' !important;
  }
}

.project-header-image {
  width: 100%;
  height: auto;
  background-color: black;
  background-size: cover;
  outline: none;
  margin-top: 0;
  opacity: 0.5;
  mask-image: linear-gradient(black 50%, transparent 100%);
}

.project-grid-format {
  display: grid;
  grid-template-areas: 
    'header header header' 
    'left content right';
  grid-template-columns: minmax(0, 0.2fr) minmax(0, 1fr) minmax(0, 0.2fr);
  row-gap: 2rem;
  width: 100%;
}

.project-header {
  display: flex;
  position: relative;
  flex-direction: row;
  grid-area: header;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 0;
}

.project-name {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100%;
  gap: 0.5em;
  width: 80%;
}

.project-title {
  font-size: 3.5em;
  color: var(--text-colour);
  text-transform: uppercase;
  border: none;
  margin: 0;
}

.project-subheading {
  display: flex;
  font-size: 1.5em;
  margin: 0;
  justify-content: center;
}

.project-content {
  grid-area: content;
  padding: 0 2rem;
  width: 100%;
  box-sizing: border-box;
}

.project-content img {
  width: 100%;
  height: auto;
}

.project-content h2 {
  font-size: 1.6rem;
}

.project-content h3 {
  font-size: 1rem;
}

.project-left {
  grid-area: left;
}

.project-right {
  grid-area: right;
}